force-app/main/default/flows/OpportunityApprovalSubmission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Record-Triggered Flow: auto-submits an Opportunity for advanced approval when Amount exceeds 1000 and Stage moves to Qualification</description>
    <interviewLabel>Opportunity Approval Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Approval Submission</label>
    <processType>AutoLaunchedFlow</processType>

    <!-- Trigger: fires after save on Opportunity create or update when Amount > 1000 AND Stage = Qualification -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>CheckStageChangedToQualification</targetReference>
        </connector>
    </start>

    <!-- ═══ DECISIONS ══════════════════════════════════════════════════════════ -->

    <!-- Decision 1: only proceed if Stage just changed TO Qualification -->
    <decisions>
        <name>CheckStageChangedToQualification</name>
        <label>Stage Just Changed to Qualification?</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>Stage Already Was Qualification</defaultConnectorLabel>
        <rules>
            <name>StageJustChanged</name>
            <label>Yes - Stage Just Changed</label>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunityApprovalProcess</targetReference>
            </connector>
        </rules>
    </decisions>

    <!-- Decision 2: only submit if an active process was found -->
    <decisions>
        <name>CheckProcessFound</name>
        <label>Process Found?</label>
        <locationX>440</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>No Process Found</defaultConnectorLabel>
        <rules>
            <name>ProcessExists</name>
            <label>Yes</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppApprovalProcess</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActionSubmitForApproval</targetReference>
            </connector>
        </rules>
    </decisions>

    <!-- ═══ GET RECORDS ════════════════════════════════════════════════════════ -->

    <!-- Get the active Approval_Process__c for Opportunity -->
    <recordLookups>
        <name>GetOpportunityApprovalProcess</name>
        <label>Get Opportunity Approval Process</label>
        <locationX>308</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckProcessFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Target_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Approval_Process__c</object>
        <outputReference>OppApprovalProcess</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>

    <!-- ═══ ACTION CALLS ══════════════════════════════════════════════════════ -->

    <!-- Pass @InvocableVariable fields directly — Flow wraps them into the List<ApprovalRequest> automatically -->
    <actionCalls>
        <description>Calls the SubmitForApprovalAction Apex invocable to create the Approval_Request__c and route tasks to approvers</description>
        <name>ActionSubmitForApproval</name>
        <label>Submit Opportunity for Approval</label>
        <locationX>572</locationX>
        <locationY>120</locationY>
        <actionName>SubmitForApprovalAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processId</name>
            <value>
                <elementReference>OppApprovalProcess.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parallelMode</name>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputParameters>
    </actionCalls>

    <!-- ═══ VARIABLES ══════════════════════════════════════════════════════════ -->

    <variables>
        <description>Holds the queried Approval_Process__c record for Opportunity</description>
        <name>OppApprovalProcess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Process__c</objectType>
    </variables>

</Flow>
